<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>

<% if flash[:alert] %>
   <div class="alert alert-danger" role="alert">
   <h4 class="alert-heading">Vous n'avez pas pu vous connecter</h4>
   <hr>

 <% end %>



<p id="alert"><%= alert %></p>

<body>
<center>
<br/>
<br/>
<h1> Connecte toi ! </h1>
<br/>
<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'Email' %>
  <%= text_field_tag 'email' %>
  <br /> <br />

  <%= label_tag 'Password' %>
  <%= password_field_tag 'password', nil, class: 'masked_input_field'%>
  <br /> <br />

  <%= submit_tag "Connexion" %>

<% end %>
</center>
</body>
