<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>
<body style="color:white;">
  <center>
<% if @gossip.errors.any? %>
      <p>Nous n'avons pas réussi à modifier le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li style="color:red;"><%= message %></li>
        <% end %>
      </ul>
    <%else flash[:success] %>
<% end %>

<br>
<br>
<p> Modifie ton gossip </p>
<%= form_for(@gossip) do |f| %>
  <label>Titre:</label><br>
  <%= f.text_field :title %><br>

  <label>Contenue</label><br>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
</center>
</body>
