<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>




<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 text-white">Bienvenue sur le site des meilleurs Gossip !</h1>
    <h4 class="lead text-white">Ici tu trouvera les secrets les plus profond...</h4>
  </div>
</div>
<body>
  <center>
<p> Toi aussi tu veux creer un Gossip ? C'est <a href="<%= new_gossip_path %>">là</a> !</p>
  </center>
<br>
<div class="container mx-auto">
<div class="card-columns">
<% @gossip.each do |t| %>
    <div class="card card p-3 shadow" style="width: 18rem;">
      <img class="card-img-top" src="https://is3-ssl.mzstatic.com/image/thumb/Podcasts113/v4/dc/27/a1/dc27a1eb-2307-fe47-342e-6fb84618f5a8/mza_8792713575073991728.jpg/600x600bb.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= t.title %></h5>
        <p class="card-text"><%= t.content %></p>
        <p class="card-text text-muted">Posted by <%= @user.find(t.user_id).first_name%></p>
        <a class="btn btn-outline-success" href="<%= gossip_path(t) %>">Voir plus</a>
      </div>
    </div>
<% end %>
  </div>
  </div>
<br><br>
</body>
