




<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 text-white">Bienvenue sur le site des meilleurs Gossip !</h1>
    <h4 class="lead text-white">Ici tu trouvera les secrets les plus profond...</h4>
  </div>
</div>

<p> Toi aussi tu veut creer un Gossip ? C'est <a href="<%= new_gossip_path %>">la</a> !</p>
<br>
<div class="container mx-auto">
<div class="card-columns">
<% @gossip.each do |t| %>
    <div class="card card p-3 shadow" style="width: 18rem;">
      <img src="image.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= t.title %></h5>
        <p class="card-text"><%= t.content %></p>
        <p class="card-text text-muted">Posted by <%= @user.find(t.user_id).first_name%></p>
        <a class="btn btn-outline-success" href="<%= gossip_path(t) %>">Continue</a>
        <a href="<%= gossip_path(t) %>" class="btn btn-danger" data-confirm="Êtes vous sûr de vouloir supprimer ce gossip?" data-method="DELETE">Supprimer</a>
      </div>
    </div>
    <% end %>
  </div>
  </div>
<br><br>
