<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>

<body>
<center>
<br/> <br/>
<h1> Modifie ton profil </h1>
<br/>
<% if @user.errors.any? %>
      <p>Nous n'avons pas réussi à modifier votre profil pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li style="color-red;"><%= message %></li>
        <% end %>
      </ul>
<% end %>

<%= form_tag url_for(action: 'update'), method: "patch" do %>

  <%= label_tag 'Prenom' %>
  <%= text_field_tag 'first_name' %>
  <br /> <br />

  <%= label_tag 'Nom' %>
  <%= text_field_tag 'last_name' %>
  <br /> <br />

  <%= label_tag 'Age' %>
  <%= text_field_tag 'age' %>
  <br /> <br />

  <%= label_tag 'Description' %>
  <%= text_area_tag 'description' %>
  <br /> <br />

  <%= submit_tag "Modifier profil" %>

<% end %>
</center>
</body>
