<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>

<body>
<center>
<br/> <br/>
<h1> Rejoins la communauté des ragots infondés </h1>
<br/>

<% if @user_create.errors.any? %>
      <p>Nous n'avons pas réussi à créer votre profil pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @user_create.errors.full_messages.each do |message| %>
          <li style="color:red;"><%= message %></li>
        <% end %>
      </ul>
<% end %>

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'Prenom' %>
  <%= text_field_tag 'first_name' %>
  <br /> <br />

  <%= label_tag 'Nom' %>
  <%= text_field_tag 'last_name' %>
  <br /> <br />

  <%= label_tag 'Age' %>
  <%= text_field_tag 'age' %>
  <br /> <br />

  <%= label_tag 'Email' %>
  <%= text_field_tag 'email' %>
  <br /> <br />

  <%= label_tag 'Description' %>
  <%= text_area_tag 'description' %>
  <br /> <br />

  <%= label_tag 'Password' %>
  <%= password_field_tag 'password', nil, class: 'masked_input_field'%>
  <br /> <br />

  <%= label_tag 'Confirm Password' %>
  <%= password_field_tag 'password_confirmation', nil, class: 'masked_input_field'%>
  <br /> <br />

  <%= submit_tag "M'inscrire" %>

<% end %>
</center>
</body>
