<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>

<body>
<center>
  <% if flash[:success] %>
 <div class="alert alert-success" role="alert">
 <div class="success"><%= flash[:success]%></div>
 </div>
<% end %>
<br><br>
<div class="card card p-3 shadow" style="width: 18rem;">
  <img class="card-img-top" src="https://img.huffingtonpost.com/asset/5da6cd98210000140f34a123.jpeg?cache=kQdUrib9K7&ops=scalefit_630_noupscale" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
    <p class="card-text">Description : <%= @user.description %></p>
    <p class="card-text">Age : <%= @user.age %> </p>
    <p class="card-text">email : <%= @user.email %></p>
    <a class="" href="<%= city_path(@user.city_id) %>">City : <%= @city.find(@user.city_id).name %> </a>

    <% if current_user && (session[:user_id] == @user.id) %>
    <a class="btn btn-outline-danger" href="<%= edit_author_path %>"> Modifie ton profil </a>
    <% end %>
    <br/><br/>

  </div>
</div>
</body>
